In [1]:
import pandas as pd
import numpy as py

precovid_ohio = "precovid_ohio2019.csv"
precovid_ohio_df = pd.read_csv(precovid_ohio)
precovid_ohio_df

,business_id,name,state_,city,stars,review_count,is_open,categories,customer_stars,date_
0,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,4.5,16,0,"Juice Bars & Smoothies, Vegan, Food, Restauran...",5,1/20/2019 17:28
1,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,4.5,16,0,"Juice Bars & Smoothies, Vegan, Food, Restauran...",5,2/17/2019 2:45
2,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,4.5,16,0,"Juice Bars & Smoothies, Vegan, Food, Restauran...",5,8/7/2019 19:15
3,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,4.5,16,0,"Juice Bars & Smoothies, Vegan, Food, Restauran...",4,3/3/2019 20:32
4,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,4.5,16,0,"Juice Bars & Smoothies, Vegan, Food, Restauran...",4,5/24/2019 13:33
...,...,...,...,...,...,...,...,...,...,...
5348,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,4.0,30,1,"Soup, Salad, Sandwiches, Restaurants",4,3/7/2019 18:25
5349,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,4.0,30,1,"Soup, Salad, Sandwiches, Restaurants",4,2/9/2019 21:57
5350,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,4.0,30,1,"Soup, Salad, Sandwiches, Restaurants",4,2/2/2019 14:18
5351,IJVqt4PE0QKaqJ2VfBYBZg,Zoup!,OH,Columbus,3.0,19,1,"Sandwiches, Soup, Salad, Restaurants",5,4/16/2019 11:26
5352,IJVqt4PE0QKaqJ2VfBYBZg,Zoup!,OH,Columbus,3.0,19,1,"Sandwiches, Soup, Salad, Restaurants",5,7/3/2019 13:14

In [10]:
precovid_ohio_df.dtypes

business_id        object
name               object
state_             object
city               object
stars             float64
review_count        int64
is_open             int64
categories         object
customer_stars      int64
date_              object
dtype: object

In [3]:
open_precovid_ohio_df = precovid_ohio_df.loc[(precovid_ohio_df["is_open"] ==1)]
open_precovid_ohio_df

,business_id,name,state_,city,stars,review_count,is_open,categories,customer_stars,date_
6,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",5,9/7/2019 16:39
7,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",4,11/18/2019 0:06
8,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",3,1/26/2019 5:07
9,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",5,9/25/2019 21:51
10,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",5,10/21/2019 14:42
...,...,...,...,...,...,...,...,...,...,...
5348,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,4.0,30,1,"Soup, Salad, Sandwiches, Restaurants",4,3/7/2019 18:25
5349,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,4.0,30,1,"Soup, Salad, Sandwiches, Restaurants",4,2/9/2019 21:57
5350,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,4.0,30,1,"Soup, Salad, Sandwiches, Restaurants",4,2/2/2019 14:18
5351,IJVqt4PE0QKaqJ2VfBYBZg,Zoup!,OH,Columbus,3.0,19,1,"Sandwiches, Soup, Salad, Restaurants",5,4/16/2019 11:26
5352,IJVqt4PE0QKaqJ2VfBYBZg,Zoup!,OH,Columbus,3.0,19,1,"Sandwiches, Soup, Salad, Restaurants",5,7/3/2019 13:14

In [16]:
open_precovid_ohio_df[["business_id", "name"]].drop_duplicates()

                 business_id                         name
6     JqSL9fNnkwsxQkqGJyHJ2g             101 Beer Kitchen
73    n3sEf5PqRFHoJ_8TCynRPg            A Matter of Steak
74    6zMk-He0XhowQu2p5pdtBg        Abner's Casual Dining
79    IDlvMzb_9Prxzz2LK0Ww1Q                  Adobe Gilas
89    uEwxmb6YZnqg7V3YIcyc4Q  African Paradise Restaurant
...                      ...                          ...
5319  J8BnOx3rJ9oO78KtF0K5OQ  Yoshi's Japanese Restaurant
5328  97q11wWWFqku1SOHZJx6gA                   Zest Juice
5330  NWjoZB068Mg18lYTI3AS2A                      Ziggy's
5336  FyGavoQ1DdC3ZsjKAfxezA                        Zoup!
5351  IJVqt4PE0QKaqJ2VfBYBZg                        Zoup!

[427 rows x 2 columns]

In [ ]:
open_precovid_ohio_df.groupby(by=["business_id", "name"]).mean()

In [18]:
clean_open_precovid_ohio_df = open_precovid_ohio_df.groupby(by=["business_id", "name"]).mean().reset_index()
clean_open_precovid_ohio_df[clean_open_precovid_ohio_df["business_id"]!="#NAME?"]

,business_id,name,stars,review_count,is_open,customer_stars
6,0197L3CuCRuK28q6PAUyCw,Hollywood Casino Columbus,2.5,184.0,1.0,4.285714
7,02_FLyffoofP65iEqetwlQ,Noodles & Company,3.0,26.0,1.0,3.500000
8,0TQp6koYQHrZ3qRWgiOAkw,Panera Bread,2.5,12.0,1.0,4.666667
9,0hW9nMGAZVW6n1uuRycVbg,Teriyaki Express,2.5,6.0,1.0,3.000000
10,0oZBfNCxn2jn-6flKr5nEw,Columbus Museum of Art,4.0,125.0,1.0,4.454545
...,...,...,...,...,...,...
422,zejcxgXeGc0txcSn122sHA,El Vaquero Mexican Restaurant,3.0,123.0,1.0,4.363636
423,zfEuNOQCRUmBoduSmSRneg,Typhoon Asian Fusion Bistro,4.0,142.0,1.0,4.400000
424,zlMZ_nTXFEsRTVgtpjSkvQ,Chipotle Mexican Grill,2.0,181.0,1.0,4.000000
425,zliwgd91NSKqEpLD0tQQEA,Jubilee Market and Cafe,4.0,5.0,1.0,5.000000
426,zxlOpCfC8xN1QCGk4u_CLQ,Nazca Peruvian Eats,5.0,7.0,1.0,5.000000

In [4]:
postcovid_ohio = "postcovid_ohio2020.csv"
postcovid_ohio_df = pd.read_csv(postcovid_ohio)
postcovid_ohio_df

,business_id,name,state_,city,stars,review_count,is_open,categories,customer_stars,date_
0,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",4,5/2/2020 21:57
1,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",4,8/2/2020 0:14
2,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",5,8/23/2020 17:40
3,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",4,5/12/2020 18:38
4,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",5,1/26/2020 21:19
...,...,...,...,...,...,...,...,...,...,...
19928,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,12/12/2020 1:33
19929,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,3/8/2020 20:03
19930,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,11/17/2020 2:24
19931,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,12/23/2020 22:11
19932,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,2/6/2020 18:44

In [5]:
open_postcovid_ohio_df = postcovid_ohio_df.loc[(postcovid_ohio_df["is_open"] ==1)]
open_postcovid_ohio_df

,business_id,name,state_,city,stars,review_count,is_open,categories,customer_stars,date_
0,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",4,5/2/2020 21:57
1,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",4,8/2/2020 0:14
2,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",5,8/23/2020 17:40
3,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",4,5/12/2020 18:38
4,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",5,1/26/2020 21:19
...,...,...,...,...,...,...,...,...,...,...
19928,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,12/12/2020 1:33
19929,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,3/8/2020 20:03
19930,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,11/17/2020 2:24
19931,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,12/23/2020 22:11
19932,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,2/6/2020 18:44

In [6]:
precovid_texas = "precovid_texas2019.csv"
precovid_texas_df = pd.read_csv(precovid_texas)
precovid_texas_df

,business_id,name,state_,city,stars,review_count,is_open,categories,customer_stars,date_
0,FwO183blfDg8g6sFv-NTsQ,15th Street Cafe,TX,Austin,3.5,9,1,"Restaurants, Hotels & Travel, Event Planning &...",4,7/23/2019 18:54
1,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,5.0,641,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",5,12/23/2019 0:53
2,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,5.0,641,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",5,10/27/2019 15:03
3,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,5.0,641,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",5,10/13/2019 20:54
4,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,5.0,641,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",5,12/8/2019 4:48
...,...,...,...,...,...,...,...,...,...,...
17079,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/30/2019 0:59
17080,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/18/2019 23:19
17081,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/30/2019 23:53
17082,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/28/2019 20:31
17083,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/21/2019 17:09

In [7]:
open_precovid_texas_df = precovid_texas_df.loc[(precovid_texas_df["is_open"] ==1)]
open_precovid_texas_df

,business_id,name,state_,city,stars,review_count,is_open,categories,customer_stars,date_
0,FwO183blfDg8g6sFv-NTsQ,15th Street Cafe,TX,Austin,3.5,9,1,"Restaurants, Hotels & Travel, Event Planning &...",4,7/23/2019 18:54
1,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,5.0,641,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",5,12/23/2019 0:53
2,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,5.0,641,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",5,10/27/2019 15:03
3,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,5.0,641,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",5,10/13/2019 20:54
4,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,5.0,641,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",5,12/8/2019 4:48
...,...,...,...,...,...,...,...,...,...,...
17079,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/30/2019 0:59
17080,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/18/2019 23:19
17081,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/30/2019 23:53
17082,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/28/2019 20:31
17083,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/21/2019 17:09

In [8]:
postcovid_texas = "postcovid_texas2020.csv"
postcovid_texas_df = pd.read_csv(postcovid_texas,encoding='latin-1')
postcovid_texas_df

,business_id,name,state_,city,stars,review_count,is_open,categories,customer_stars,date_
0,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",3,7/16/2020 4:36
1,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",3,1/23/2020 16:50
2,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",5,5/12/2020 23:50
3,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",5,5/7/2020 21:34
4,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",5,8/5/2020 21:21
...,...,...,...,...,...,...,...,...,...,...
46575,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",3,8/21/2020 22:58
46576,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,5/4/2020 23:38
46577,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,7/4/2020 21:37
46578,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,1/31/2020 20:38
46579,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/5/2020 14:27

In [9]:
open_postcovid_texas_df = postcovid_texas_df.loc[(postcovid_texas_df["is_open"] ==1)]
open_postcovid_texas_df

,business_id,name,state_,city,stars,review_count,is_open,categories,customer_stars,date_
0,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",3,7/16/2020 4:36
1,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",3,1/23/2020 16:50
2,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",5,5/12/2020 23:50
3,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",5,5/7/2020 21:34
4,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",5,8/5/2020 21:21
...,...,...,...,...,...,...,...,...,...,...
46575,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",3,8/21/2020 22:58
46576,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,5/4/2020 23:38
46577,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,7/4/2020 21:37
46578,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,1/31/2020 20:38
46579,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/5/2020 14:27